<section id="footer">
  <div class="container">
    <div class="row justify-content-around align-items-center">
          
      <div class="col-6 align-self-center">
        <h6> {{ site.t[page.lang].footerheader }} </h6>
        <ul class="list-inline">
         
        {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% for post in posts %}
          <li class="list-inline-item">
            <a href="{{ post.url }}"><img class="{{ post.lang }}" src="/assets/images/{{ post.lang }}.png"></a>
          </li>
        {% endfor %}

        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
          <li class="list-inline-item">
            <a href="{{ page.url }}"><img class="{{ page.lang }}" src="/assets/images/{{ page.lang }}.png"></a>
          </li>
        {% endfor %}

        </ul>
        <p> {{ site.t[page.lang].footercopy }} </p>
      </div>

      <div class="col-6 align-self-center">
        <h6 class="d-flex flex-row-reverse"> {{ site.t[page.lang].people }} </h6>
        <ul class="list-inline d-flex flex-row-reverse">
          <a href="https://www.deepnight.net" target="_blank"><li class="list-inline-item"><img src="/assets/images/deepnight.png"></li></a>
          <a href="https://cutt.ly/Mbv155F" target="_blank"><li class="list-inline-item"><img src="/assets/images/kpg.png" id="kpg"></li></a>
          <a href="https://cutt.ly/Bbv0yeW" target="_blank"><li class="list-inline-item"><img src="/assets/images/rkt.png"></li></a>
        </ul>

        <!-- Social -->
        <ul class="list-inline text-end">
          <a href="https://www.twitter.com/Noiyy15" target="_blank"><li class="list-inline-item"><i class="fab twitter fa-twitter fa-2x"></i></li></a>
          <a href="https://www.github.com/Noiyy" target="_blank"><li class="list-inline-item"><i class="fab github fa-github fa-2x"></i></li></a>
          <a href="https://noiyy.itch.io" target="_blank"><li class="list-inline-item"><i class="fab itch-io fa-itch-io fa-2x"></i></li></a>
          <a href="https://www.deviantart.com/Noiyy" target="_blank"><li class="list-inline-item"><i class="fab deviantart fa-deviantart fa-2x"></i></li></a>
          <a href="https://www.artstation.com/Noiyy" target="_blank"><li class="list-inline-item"><i class="fab artstation fa-artstation fa-2x"></i></li></a>
          <a href="" data-bs-toggle="tooltip" data-bs-offset="0,16" title data-bs-original-title="Gilgamesh#2567"><li class="list-inline-item"><i class="fab discord fa-discord fa-2x"></i></li></a>
        </ul>
      </div>

    </div>
  </div>
</section>

<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>