<section id="footer">
  <div class="container">
    <div class="row justify-content-around align-items-center">
          
      <div class="col-md-auto align-self-center my-auto">
        <h6> Language </h6>
        <ul class="list-inline">
          <a href="" target="_blank"><li class="list-inline-item"><img src="https://www.countryflags.io/gb/flat/32.png""></li></a>
          <a href="" target="_blank"><li class="list-inline-item"><img src="https://www.countryflags.io/sk/flat/32.png""> </li></a>
        </ul>
        <p> &copy Benjamín Muľár 2021, all rights reserved. </p>
      </div>

      <div class="col-md-auto align-self-center my-auto">
        <h6 class="d-flex flex-row-reverse"> Cool people </h6>
        <ul class="list-inline d-flex flex-row-reverse">
          <a href="https://www.deepnight.net" target="_blank"><li class="list-inline-item"><img src="../../../assets/images/deepnight.png"></li></a>
          <a href="https://cutt.ly/Mbv155F" target="_blank"><li class="list-inline-item"><img src="../../../assets/images/kpg.png" id="kpg"></li></a>
          <a href="https://cutt.ly/Bbv0yeW" target="_blank"><li class="list-inline-item"><img src="../../../assets/images/rkt.png"></li></a>
        </ul>

        <!-- Social -->
        <ul class="list-inline">
          <a href="https://www.twitter.com/Noiyy15" target="_blank"><li class="list-inline-item"><i class="fab twitter fa-twitter fa-2x"></i></li></a>
          <a href="https://www.github.com/Noiyy" target="_blank"><li class="list-inline-item"><i class="fab github fa-github fa-2x"></i></li></a>
          <a href="https://www.deviantart.com/Noiyy" target="_blank"><li class="list-inline-item"><i class="fab deviantart fa-deviantart fa-2x"></i></li></a>
          <a href="https://www.artstation.com/Noiyy" target="_blank"><li class="list-inline-item"><i class="fab artstation fa-artstation fa-2x"></i></li></a>
          <a href="" data-bs-toggle="tooltip" data-bs-offset="0,16" title data-bs-original-title="Gilgamesh#2567"><li class="list-inline-item"><i class="fab discord fa-discord fa-2x"></i></li></a>
        </ul>
      </div>

    </div>
  </div>
</section>

<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>