<section id="header">
  <div class="container">
     <div class="row">
          
      <div class="col-md-12 text-center">
        <ul class="list-inline">
          {% for item in site.data.navigation %}
            <a href="{{ item.link }}">
              <li {% if page.url == item.link %} class="list-inline-item active" {% endif %} {% unless page.url == item.link %} class="list-inline-item" {% endunless %}> {{ item.name }} </li>
            </a>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</section>
<section id="header-bg"></section>