html, body {
	background: url('../images/bg.jpg') center center repeat-y;
	height: 100%;
	background-size: cover;
}

/* HEADER */

#header {
	background: #030a12; /* dark blue #030a12 */
}

#header-bg {
	padding-bottom: 144px;
	background-image: linear-gradient(180deg, rgba(3,10,18,1), rgba(0,0,0,0));
}

#header a {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	transition: all 0.2s ease-in-out;
}

#header a:hover {
	color: #BBD0DE;
}

#header li {
	font-size: 40px;
	font-weight: bold;
	margin: 0 16px;
	font-family: 'Amatic SC', cursive;
}

#header .active {
	color: #BBD0DE !important;
	border-bottom: 2px solid white;
	border-radius: 5px;
	transition: 1s;
}

#header .active:hover {
	border-radius: 15px;
}
/* HIGHLIGHT */

#highlight {
	margin: 0px 0;
}

#highlight .col-md-4 {

}

#highlight img {
	margin: 0 auto;
	padding-top: 24px;
}

#highlight h1 {
	color: #BBD0DE;
	text-align: left;
	font-family: 'Amatic SC', cursive;
	font-size: 3.5em;
	font-weight: bold;
	margin: 15% 16px 0;
	text-transform: uppercase;
}

#highlight p {
	color: white;
	font-size: 1.5em;
	text-align: left;
	margin: 0 16px;
	font-family: 'Karla', sans-serif;
}

#highlight .col-md-5 {
	margin-left: 8px;
	border-left: 2px solid white;
}

#highlight h2 {
	color: rgba(187,208,222,0.4); /* #BBD0DE */
	font-style: italic;
	font-family: 'Karla', sans-serif;
	margin: 14% 0;
}

.post-h {
	color: #BBD0DE;
	font-family: 'Amatic SC', cursive;
	font-size: 3.5em;
	font-weight: bold;
	text-transform: uppercase;
}

/* CONTENT */

#content-bg {
	padding-top: 144px;
	background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(3,10,18,1));
}

#content {
	background: #030a12;
	color: white;
	margin: 0 auto;
	padding-bottom: 64px;
}

#content h1 {
	color: #BBD0DE;
	text-transform: uppercase;
	font-family: 'Amatic SC', cursive;
}

#content .separator {
	margin: 40px 0;
	background: url('../images/separator.png') center center no-repeat;
	height: 16px;
	opacity: 0.25;
}

#content p {
	font-size: 1.3em;
	text-align: left;
	font-family: 'Karla', sans-serif;
}

#content p b {
	color: #BBD0DE;
}

#content .col-updates {
	justify-content: center;
	align-items: center;
	padding: 16px;
	background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%);
}

#carouselUpdates {
	background: rgba(0,0,0,0.5);
	border: 2px solid white;
}

#content .col-sm-4 {
	background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%); 
	padding: 16px;
}

#content .col-sm-4 img {
	background: #030a12;
	border: 3px solid white;
	padding: 8px;
}

#content .carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
  z-index: 1;
}

#content .carousel-caption {
	z-index: 2;
}

/* CONTENT - PROJECTS */

#content .p-li {
	padding: 8px;
	margin: 4px;
	background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%);
}

#content .p-content {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
  border: 2px solid white;
  background: #030a12;
}

#content .p-content .p-content-overlay {
  /*background: rgba(0,0,0,0.8);*/
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#content .p-content .p-overlay-yellow {
	background: rgba(227,221,59,0.95);
}

#content .p-content .p-overlay-silver {
	background: rgba(149,199,201,0.95);
}

#content .p-content .p-overlay-orange {
	background: rgba(227,76,38,0.95);
}


#content .p-content:hover .p-content-overlay{
  opacity: 1;
}

#content .p-content-image{
  width: 300px;
  height: 300px;
}

#content .p-content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#content .p-content:hover .p-content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

#content .p-content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

#content .p-content-details p{
  color: #fff;
  text-align: center !important;
  font-size: 1.2em;
}

.fadeIn-bottom{
  top: 80%;
}

/* CONTENT - BLOG */

#content .list-group a  {
	padding: 8px;
	margin: 8px 0;
	text-decoration: none;
	transition: 0.3s;
	background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%);
}

#content .list-group a:hover .card {
	border: 1px solid white;
}

#content .card img {
	height: 100%;
	width: 100%;

}

#content .card {
	margin: 0 !important;
	border: 0;
	transition: 0.3s;
}

#content h5 {
	color: #BBD0DE;
}

#content .card p {
	color: white;
}

#content .post-a {
	text-decoration: none;
	color: #BBD0DE;
	font-weight: bold;
}

/* FOOTER */

#footer {
	color: #4a5d6a;
	padding: 16px 0 16px;
	background-image: linear-gradient(180deg, rgba(3,10,18,1), rgba(0,0,0,0));
}

#footer .d-flex a {
	margin: 0 8px;
}

#footer img {
	transition: 0.2s;
	opacity: 0.4;
}

#footer #kpg {
	opacity: 0.6 !important;
}

#footer #kpg:hover {
	opacity: 1 !important;
}

#footer .d-flex img {
	width: 24px;
	height: 24px;
}

#footer img:hover {
	opacity: 0.8;
}

#footer .fab {
	color: #4a5d6a;
	margin: 2px 4px;
	position: relative;
	bottom: 0;
	transition: all 0.2s ease-in-out;
}

#footer .twitter:hover {
	color: #1da1f2;
	bottom: 5px;
}

#footer .github:hover {
	color: black;
	bottom: 5px;
}

#footer .deviantart:hover {
	color: #05cc46;
	bottom: 5px;
}

#footer .artstation:hover {
	color: #14aff1;
	bottom: 5px;
}

#footer .discord:hover {
	color: #7289d9;
	bottom: 5px;
}